<div class="footer">
  <div class="container">
    <div class="box">
      <h3>templx</h3>
      <ul class="social">
        <li>
          <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
        </li>
        <li>
          <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="#" class="youtube"> <i class="fab fa-youtube"></i></a>
        </li>
      </ul>
      <p class="text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit
        iste minus, libero iusto harum laborum
      </p>
    </div>
    <div class="box">
      <ul class="links">
        <li><a href="#">Important link 1</a></li>
        <li><a href="#">Important link 2</a></li>
        <li><a href="#">Important link 3</a></li>
        <li><a href="#">Important link 4</a></li>
        <li><a href="#">Important link 5</a></li>
      </ul>
    </div>
    <div class="box">
      <div class="line">
        <i class="fas fa-map-marker-alt fa-fw"></i>
        <div class="info">
          Egypt, Giza,6october club, gate 5
        </div>
      </div>
      <div class="line">
        <i class="far fa-clock fa-fw"></i>
        <div class="info">gym Hours: From 10:00 To 18:00</div>
      </div>
      <div class="line">
        <i class="fas fa-phone-volume fa-fw"></i>
        <div class="info">
          <span>+201145533605</span>
          <span>+201145533605</span>
        </div>
      </div>
    </div>
    <div class="box footer-gall">
      <img src="images/clast.jpeg" alt="" />
      <img src="images/clast.jpeg" alt="" />
      <img src="images/clast.jpeg" alt="" />
      <img src="images/clast.jpeg" alt="" />
      <img src="images/clast.jpeg" alt="" />
      <img src="images/clast.jpeg" alt="" />
    </div>
  </div>
  <p class="copyright">Made With &lt;3 By fares</p>
</div>
