

<h2 class="main-title">Contact Us</h2>
<section class="section" id="contact">
  <div class="container">
<div class="forms">
  <div class="image">
    <img src="images/about-background.jpeg" alt="">
  </div>
  <div class="form-container">
    <form>
      <!-- Full Name -->
      <div class="form-group">
          <label for="fullName">Full Name:</label>
          <input type="text" id="fullName" name="fullName" placeholder="answer" required />
      </div>

      <!-- Contact Number -->
      <div class="form-group">
          <label for="contactNumber">Contact Number:</label>
          <input type="text" id="contactNumber" name="contactNumber" placeholder="answer" required />
      </div>

      <!-- Age -->
      <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" id="age" name="age" placeholder="answer" required />

      </div>

      <!-- Templx Member -->
      <div class="form-group">
          <label>Templx Member:</label>
          <input type="radio" id="yesMember" name="templxMember" value="Yes" required />
          <label for="yesMember">Yes</label>
          <input type="radio" id="noMember" name="templxMember" value="No" required />
          <label for="noMember">No</label>
      </div>

      <!-- Competition -->
      <div class="form-group">
          <label>Do you want to join a CrossFit or calisthenics competition?</label>
          <input type="radio" id="crossfit" name="competition" value="CrossFit" required />
          <label for="crossfit">CrossFit</label>
          <input type="radio" id="calisthenics" name="competition" value="Calisthenics" required />
          <label for="calisthenics">Calisthenics</label>
      </div>
      <div class="form-group">
        <label>Choose plan please</label>
        <input type="radio" id="Basic" name="Plans" value="Basic" required />
        <label for="Basic">Basic</label>
        <input type="radio" id="Advanced" name="Plans" value="Advanced" required />
        <label for="Advanced">Advanced</label>
        <input type="radio" id="Professional" name="Plans" value="Professional" required />
        <label for="Professional">Professional</label>
    </div>

      <!-- How Did You Hear -->
      <fieldset class="form-group">
          <legend>How did you hear about this event?</legend>
          <input type="checkbox" id="instagram" name="howDidYouHear" value="Instagram" />
          <label for="instagram">Instagram</label><br />
          <input type="checkbox" id="whatsapp" name="howDidYouHear" value="Whatsapp" />
          <label for="whatsapp">Whatsapp</label><br />
          <input type="checkbox" id="fromFriend" name="howDidYouHear" value="From Friend" />
          <label for="fromFriend">From Friend</label><br />
          <label for="other">Other:</label>
          <input type="text" id="other" name="howDidYouHearOther" placeholder="other" />
      </fieldset>

      <!-- Submit Button -->
      <button type="submit">Submit</button>
  </form>
  </div>
</div>

  </div>
</section>
